body {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.content {
    padding: 15px;
}

h1, h2, h3 {
    font-family: Georgia,"Times New Roman",Times,serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 25px;
}

.chart {
    width: 540px;
    height: 300px;
    margin-bottom: 20px;
}

.bar-chart rect {
    /*fill: #53A3CC;*/
}

.bar-chart .bar-label {
    fill: white;
    font-size: 14px;
    text-anchor: middle;
}

.bar-chart rect:hover {
    stroke: #015a87;
}

/*.axis--x path {*/
    /*display: none;*/
/*}*/

.axis label {
    font: 15px sans-serif;
    fill: #005580;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x-axis-label {
    font-size: 19px;
    font-weight: bold;
    fill: #005580;
}

.line {
    fill: none;
    stroke: #08c;
    stroke-width: 2px;
}

iframe {
    overflow: hidden;
    border: 0;
}
