body {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.header {
    background: #f0f0f0;
    padding: 15px;
}

.header h1 {
    margin-top: 0;
}

.header sup {
    font-style: italic;
}

.header .sub-header {
    color: #8B859B;
}

.content {
    padding: 15px;
}

h1, h2, h3 {
    font-family: Georgia,"Times New Roman",Times,serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 25px;
}

.chart {
    width: 540px;
    height: 300px;
    margin-bottom: 30px;
}
