<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Symfony Trends</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <!-- https://github.com/markmarkoh/datamaps -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="js/datamap/datamaps.world.min.js"></script>
    <script src="js/map-chart.js"></script>
</head>

<body>

    <div id="{{ trend.id }}" class="chart"></div>
    <script>
        draw{{ trend.chart.type|capitalize }}Chart("#{{ trend.id }}", "{{ trend.dataFile }}", "");
    </script>


</body>
</html>
