<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Symfony Trends{% endblock %}</title>

    {% block stylesheets %}
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    {% endblock %}

    {% block javascripts %}{% endblock %}
</head>

<body>

{% block header %}
    <div class="row header">
        <div class="col-md-10">
            <h1>Symfony Trends <sup>beta</sup></h1>
            <p class="sub-header">Statistics for Symfony framework and related projects</p>
        </div>
        <div class="col-md-2 text-right">
            <a href="https://twitter.com/aast_t"><img src="img/twitter.png" alt="Follow me" /></a>
            <a href="https://www.linkedin.com/in/a-ast"><img src="img/linkedin.png" alt="Ask me" /></a>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}

</body>
</html>
