{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
    <h1>Contributor creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('contributor_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
